<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="bg-white border-top py-5" th:fragment="footer">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-5 col-sm-6">
                <a class="navbar-brand d-inline-block mb-4" th:href="@{/}">Quizard</a>
                <p>+212 612 345 789</p>
                <p>contact@quizard.com</p>
                <p class="mb-0">Arribat Center, Rabat 10000, Morocco</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h5 class="mb-3 mb-lg-4">Quick Links</h5>
                <ul class="mb-0">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h5 class="mb-3 mb-lg-4">Policies</h5>
                <ul class="mb-0">
                    <li><a th:href="@{/terms}">Terms & Conditions</a></li>
                    <li><a th:href="@{/privacy}">Privacy Policy</a></li>
                    <li><a th:href="@{/cookies}">Cookies Policy</a></li>
                    <li><a th:href="@{/disclaimer}">Disclaimer</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h5 class="mb-3 mb-lg-4">Follow Us</h5>
                <ul class="mb-0">
                    <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                    <li><a href="https://instagram.com/" target="_blank">Instagram</a></li>
                    <li><a href="https://facebook.com/" target="_blank">Facebook</a></li>
                    <li><a href="https://youtube.com/" target="_blank">YouTube</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>